/* .escort-form {
    width: 80%; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    margin-top: 5px;
    margin-left: 200px;
} */

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.headddd {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0; 
}

.save-button1 {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
}


.form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-field {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 2%; 
}

.form-field:nth-child(3n) {
    margin-right: 0;
}

.form-field label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 
    position: relative;
    font-size: 14px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-field input {
    width: 80%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fdfdfd;
}

.required:before {
    content: "*";
    color: red;
    margin-right: 5px;
}

.headddd {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.icon11 {
    margin-right: 10px;
    font-size: 18px;
    color: grey;
}
