.driver-list-card table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 2vh;
    /* padding: 10px 5px; */
    text-align: center;
    box-shadow: 0px  4px 8px rgba(0, 0, 0, 0.249);
    width: 82vw;
    /* border-radius: 20px; */
  
  }
  .driver-image{
    height: 70px;
    width: 70px;
    border-radius: 45px;
    /* padding-left: 2vw; */
  }
  .driver-table{
    border-radius: 10px;
  }
  .driver-list-card {
    border-radius: 20px;
  }
  .driver-list-card table tr:nth-child(even){
    background-color: #f7f6f6;
  }
  .driver-list-card table thead th{
    text-align: center;
    justify-content: center;
    /* border-radius: 10px; */
    padding: 10px;
  }
  .driver-list-card table tbody td{
    padding: 5px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .view-drivers-page{
    flex-grow: 1;
    padding: 20px;
  }
  .driver-edit-btn{
    height: 4vh;
    width: 4vw;
    border: none;
    border-radius: 4px;
    margin: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  .driver-delete-btn{
    height: 4vh;
    width: 4vw;
    border: none;
    border-radius: 4px;
    margin: 10px;
    background-color: red;
    color: white;
  }
  .Mage-driver{
    color:#00007F;
    font-size: x-large;
  }
  th{
    text-align: left;
    /* padding: 2px; */
    position: sticky;
    font-size: larger;
  }

  tr{
    height: 7vh;
    margin: 10px;
    overflow-y: auto;
    transition: transform 0.8s;
    /* border: 1px; */
    /* border-style: solid; */
    /* table-layout:initial; */


    /* overflow-y:scroll; */
    /* transform: transition 0.8s; */
  }
  tr:hover{
    box-shadow: 1px 0px 1px rgb(165, 163, 163);
    transform: scale(1);
    border-radius: 5px;
  }
  .man-sear-add{
    display: flex;
    justify-content: space-between;
  }
  th{
    font-size: small;
  }
  .serachhh{
    font-size: larger;
    margin-top: 10px;
    cursor: pointer;
  }
  .modalStyle .ant-modal{
    width: 90vw !important;
  }
  .add-driver{
    border-radius: 4px;
    border: none;
    background-color: #00007F;
    cursor: pointer;
    color: white;
    padding: 10px 0;
    width: 200px;
  }
  .search-input{
    border-radius: 4px;
    padding: 10px;
    border-style: solid;
    border-color: #00007F;
    border-width: thin;
    background-color: rgb(244, 250, 250);
  }
  .driver-list-card{
    /* box-shadow: 2px 2px 2px 2px rgb(245, 241, 241); */
    /* height: fit-content; */
   /* margin-left: 1vw; */
   /* margin-top: 2vh; */
    /* width: 83vw; */
  }
  .upload-driver-data{
    /* border-radius: 10px; */
  }
  .edit-button{
    margin: 10px;
    background-color: 
    #5C7B1E;
    border: none;
    border-radius: 3px;
    height: 4vh;
    width: 4vw;
    color: white;
    cursor: pointer;
  }
  .driver-list-card table thead{
    background-color: #00007F;
    color: white;
    position: sticky;
    border-radius: 10px;
  }
  .delete-button{
    margin: 10px;
    background-color: #7f0000 ;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    height: 4vh;
    width: 4vw;
    color: white;
  }
  /* Add this to your CSS file */
.modal-form {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 16px; /* Space between fields */
}

.modal-form .form-item {
  flex: 1 1 calc(33.33% - 16px); /* Three items per row, minus gap */
  min-width: 200px; /* Optional: minimum width for better responsiveness */
}
