.trip-history {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .search-bar12 {
    margin-bottom: 20px;
  }
  
  .search-bar12 input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
/*   
  th {
    background-color:rgb(239, 234, 227);

  } */
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  