.container1 {
  display: flex; /* Display cards and map side by side */
  width: 100%;
  box-sizing: border-box;
}






.cards-container1 {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  width: calc(100% - 400px); 
  box-sizing: border-box;
}
.card1:nth-child(odd) {
  background: #e8f0fe; 
}

.card1:nth-child(even) {
  background: #f0f4f8; 
}


.card1 {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px; /* Reduced padding for smaller cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: calc(50% - 108px); /* Two cards per row with spacing */
  box-sizing: border-box; 
  margin-left:10px;
  margin-top:25px;/* Ensure padding and border are included in the width */
}
