.trip-history1 {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .search-bar123 {
    margin-bottom: 20px;
  }
  
  .search-bar123 input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    
  }
  
  .trip-history1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

.controls {
  display: flex;
  justify-content: space-between;
}