.heroSection {
  display: flex;
}

.slideBar {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 200px;
  background: linear-gradient(#444, #111);
  margin-top: -7px;
  margin-left: -7px;
  }

.logoCont {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
}

.navLine {
  width: 150px;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  border-bottom: none;
  height: 1px;
  margin: 1rem 0px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.slideBarLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slideBarLink {
  display: flex;
  align-items: center;
  width: 200px;
  color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.slideBarLink.active {
  background-color: #0d6efd;
}

.heroContent {
  margin-left: -25px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.subMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-left: 2px solid #ccc;
}

.subMenu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subMenu li:hover {
  background-color: #ddd; /* Highlight on hover */
}
