/* Container for sidebar and content */
.dashboard-container {
  display: flex;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  height: 100vh;
  background: linear-gradient(145deg, #34495e, #2c3e50);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ecf0f1;
  transition: width 0.3s ease;
  margin-top:px;
}

.logo {
  margin-bottom: 50px;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.logo img {
  width: 150px;
  height: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu li {
  width: 80%;
  padding: 15px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu li:hover {
  background-color: #1abc9c;
  transform: translateX(5px);
}

.menu li:before {
  content: "";
  position: absolute;
  left: -15px;
  width: 10px;
  height: 100%;
  background-color: #e67e22;
  border-radius: 0 5px 5px 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.menu li:hover:before {
  transform: scaleY(1);
}

.menu-icon {
  margin-right: 15px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.menu li:hover .menu-icon {
  transform: rotate(-10deg);
}

.menu span {
  position: relative;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li:hover span {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #1abc9c;
  color: #fff;
}

.active-submenu {
  color: #1abc9c;
}

/* Submenu Styles */
.menu-item-with-submenu {
  position: relative;
}

.submenu-icon {
  margin-left: auto;
  font-size: 12px;
}

.submenu {
  list-style: none;
  padding-left: 40px;
  background-color: #34495e;
}

.submenu li {
  padding: 10px 0;
}

.submenu li a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 14px;
  display: block;
  transition: color 0.3s;
}

.submenu li a:hover {
  color: #ecf0f1;
}

/* Content Styles */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}
