.headers {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 100;
  position: absolute;

  font-size: 1.6rem;
  font-family: Roboto;
}

.headers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
 

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9136029411764706) 62%,
    rgba(255, 255, 255, 0.10968137254901966) 100%
  );
  z-index: -1; 
}

.search-filter {
  display: flex;
  gap: 10px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;

  border: 2px solid #666;
}

.search-input::placeholder {
  font-size: inherit;
  color: #666;
}

.filter-button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;

  color: #666;
  border: 2px solid #666;
}



.status-info {
  display: flex;
  gap: 20px;
  font-size: 16px;
  color: #666;
}

.status-info span {
  display: block;
}

.status-info > p {
  padding: 8px 12px;
  border-radius: 4px;
}

.inputs-search {
  display: flex;
  gap: 1rem;
}

.status-info > p:nth-child(1) {
  border: 2px solid #00b5f5;
  color: #00b5f5;
}
.status-info > p:nth-child(2) {
  border: 2px solid #29995b;
  color: #29995b;
}
.status-info > p:nth-child(3) {
  border: 2px solid #b13632;
  color: #b13632;
}
.status-info > p:nth-child(4) {
  border: 2px solid #395aaf;
  color: #395aaf;
}
.status-info > p:nth-child(5) {
  border: 2px solid #d29347;
  color: #d29347;
}

.status-info {
  display: flex;
  gap: 1rem;
}
