/* .vehicle-form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:5px;
} */

.form-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.save-button1 {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right:30px;
}

.form-content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field1 {
  width: 30%;
  margin-bottom: 20px;
}

.form-field1 label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-field1 input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fdfdfd;
}

.required1:before {
  content: "*";
  color: red;
  margin-right: 5px;
}
.headddd1{
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px;
}

.icon11 {
  margin-right: 10px;
  font-size: 18px;
  color: black;
}