.trip-management {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.trip-management-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px; /* Space between cards and map */
}

.map-component {
  flex: 2; /* Adjust flex to fit the layout you want */
  height: 100%;
  width: 100%;
}
